.navbar{
    width: 100%;
    list-style-type: none;
    display:block;
    text-decoration:double;
    text-decoration-color: cadetblue;
}

img.headphones
{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

